In [2]:
import pandas as pd
import scipy.stats as stats

In [11]:
results = pd.read_csv("../results/accuracy_results.csv")
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Accuracy  600 non-null    float64
 1   Epsilon   600 non-null    float64
dtypes: float64(2)
memory usage: 9.5 KB

In [12]:
pd.unique(results["Epsilon"])

array([1.e-04, 1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01])

In [13]:
original_res = results.loc[results["Epsilon"] == 1.e+01]

In [14]:
original_res

     Accuracy  Epsilon
500  0.581292     10.0
501  0.572383     10.0
502  0.570156     10.0
503  0.585746     10.0
504  0.583519     10.0
..        ...      ...
595  0.581292     10.0
596  0.583519     10.0
597  0.572383     10.0
598  0.574610     10.0
599  0.570156     10.0

[100 rows x 2 columns]

In [19]:
epsilon_values = [1.e-04, 1.e-03, 1.e-02, 1.e-01, 1.e+00]
for epsilon in epsilon_values:
    restricted_res = results.loc[results["Epsilon"] == epsilon]
    _, p_value = stats.ttest_rel(original_res["Accuracy"], restricted_res["Accuracy"]) 
    print(f"Epsilon: {epsilon}, p-vlaue: {p_value}")

Epsilon: 0.0001, p-vlaue: 2.4132889117524932e-70
Epsilon: 0.001, p-vlaue: 2.2707710514877732e-63
Epsilon: 0.01, p-vlaue: 5.092602253730064e-55
Epsilon: 0.1, p-vlaue: 2.9419394459990226e-18
Epsilon: 1.0, p-vlaue: 0.9331222818511076

In [17]:
restricted_res

    Accuracy  Epsilon
0   0.489978   0.0001
1   0.469933   0.0001
2   0.463252   0.0001
3   0.454343   0.0001
4   0.458797   0.0001
..       ...      ...
95  0.440980   0.0001
96  0.456570   0.0001
97  0.467706   0.0001
98  0.476615   0.0001
99  0.472160   0.0001

[100 rows x 2 columns]

In [18]:
stats.ttest_rel(original_res["Accuracy"], restricted_res["Accuracy"])

Ttest_relResult(statistic=47.960440727560176, pvalue=2.4132889117524932e-70)